scratchbook.ipynb
.DS_Store
failures/*
raw_images/*
.DS_Store
.ipynb_checkpoints
.vscode/settings.json
output/cnn32-md_best.h5
output/cnn32-md_false_predicted.csv
output/tmp/*
__pycache__/
*.pyc
.venv/
.vend/
.idea/
