pillow
numpy
matplotlib
lxml_html_clean
scipy
scikit-learn
pandas
tensorflow>=2.13.0, < 2.14.0; #sys_platform != 'darwin'
tensorflow-macos>=2.13.0, < 2.14.0; sys_platform == 'darwin'
#tensorflow-metal==0.8; sys_platform == 'darwin'
#tensorflow-model-optimization
opencv-python
notebook
jupyter
nbconvert<7.0.0
typing-extensions